<%= render partial: "shared/user_info", locals: { user: @user } %>
<%= render partial: "shared/navtab_user", locals: { user: @user } %>
<div class="container border bg-light">
  <h5 class="text-center">
    等待回覆
  </h5>
  <div class="row" id="wait-friend">
    <% @not_yet_accepted_by_friends.each do |user| %>
      <div class="col-sm-2" id="user-<%= user.id %>">
        <%= render partial: "shared/user_item", locals: { user: user } %>
      </div>
    <% end %>
  </div>
</div>
<div class="container border bg-dark">
  <h5 class="text-center text-white">
    好友邀請
  </h5>
  <div class="row" id="unaccept-friend">
    <% @not_yet_responded_to_friends.each do |user| %>
      <div class="col-sm-2" id="user-<%= user.id %>">
        <%= render partial: "shared/user_item", locals: { user: user } %>
      </div>
    <% end %>
  </div>
</div>
<div class="container border bg-light">
  <h5 class="text-center">
    好友清單
  </h5>
  <div class="row" id="friend">
    <% @friends.each do |user| %>
      <div class="col-sm-2" id="user-<%= user.id %>">
        <%= render partial: "shared/user_item", locals: { user: user } %>
      </div>
    <% end %>
  </div>
</div>