<%= render partial: "shared/user_info", locals: { user: @user } %>
<%= render partial: "shared/navtab_user", locals: { user: @user } %>
<div class="container">
  <div class="row">
    <table class="table table-hover text-center bg-light">
      <tbody>
        <% @posts.each do |post| %>
          <tr>
            <td data-link="<%= post_path(post) %>"><%= post.title %></td>
            <td data-link="<%= post_path(post) %>">Published</td>
            <td data-link="<%= post_path(post) %>"><%= post.updated_at.strftime("%Y-%m-%d") %></td>
            <td>
              <%= render partial: "shared/buttons", locals: { type: "Post", post: post } %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <% if @user == current_user %>
      <%= link_to "New Post", new_post_path, class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

<script>
  $("td[data-link]").click(function() {
    window.location = $(this).data("link")
  })
</script>