<div class="user-item text-center mt-3 mb-3">
  <%= link_to user_path(user) do %>
    <div class="avatar">
      <%= image_tag user.avatar, width: "100%" if user.avatar? %>
    </div>
  <% end %>
  <p><%= user.name %></p>
  <div class="links" id="user-<%= user.id %>">
    <%= render partial: "shared/friend_button", locals: { user: user } %>
  </div>
</div>