<div class="container-fuild">
  <div class="row bg-light py-4">
    <h1 id="site-title">Wells-Forum</h1>
  </div>
</div>
<div class="container">
  <div class="row">
    <nav class="nav nav-pills my-3">
      <% if @category %>
        <%= link_to "All", posts_path, class: "nav-link" %>
      <% else %>
        <%= link_to "All", posts_path, class: "nav-link active" %>
      <% end %>
      <% @categories.each do |category| %>
        <% if @category && category.id == @category.id %>
          <%= link_to category.name, posts_path(category_id: category.id), class: "nav-link active" %>
        <% else %>
          <%= link_to category.name, posts_path(category_id: category.id), class: "nav-link" %>
        <% end %>
      <% end %>
    </nav>
    <table class="table table-hover text-center">
      <thead>
        <tr>
          <th><%= sort_link(@ransack, :comments_count, "Replied count", default_order: :desc) %></th>
          <th class="text-left">Title</th>
          <th><%= sort_link(@ransack, :comments_created_at, "Last replied at", default_order: :desc) %></th>
          <th><%= sort_link(@ransack, :viewed_count, "Viewed count", default_order: :desc) %></th>
        </tr>
      </thead>
      <tbody>
        <% @posts.each do |post| %>
          <tr data-link="<%= post_path(post) %>">
            <td><p class="border m-auto bg-light" style="width: 50px;"><%= post.comments_count %></p></td>
            <th class="text-left"><%= post.title %></th>
            <td><%= post.comments.last.created_at.strftime("%Y-%m-%d") if post.comments.present? %></td>
            <td>
              <%= fa_icon "eye", text: post.viewed_count  %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="m-auto">
      <%= paginate @posts %>
    </div>
  </div>
</div>


<script>
  $("tr[data-link]").click(function() {
    window.location = $(this).data("link")
  })
</script>