<div class="container mt-3">
  <div class="row border-bottom">
    <div class="col-sm-3">
      <h3>
        <strong><%= @post.title %></strong>
      </h3>
    </div>
    <div class="col-sm-3 offset-sm-6">
      <%= render partial: "shared/collect_button", locals: { post: @post } %>
      <%= link_to "Comment", "#comments" ,class: "btn btn-sm btn-primary" %>
    </div>
  </div>
  <div class="row">
    <%= render partial: "shared/article", locals: { type: "Post", post: @post } %>
  </div>
  <div class="row">
    <% @comments.each do |comment| %>
      <%= render partial: "shared/article", locals: { type: "Comment", post: @post, comment: comment } %>
    <% end %>
    <div class="mx-auto mt-3">
      <%= paginate @comments %>
    </div>
  </div>

  <div class="row" id="comments">
    <div class="col-sm-12 border">
      <%= form_for [@post, @comment] do |f| %>
        <div class="form-group">
          <%= f.text_area :content, placeholder: "留個言吧！", class: "form-control mt-4" %>
        </div>
        <div class="form-group">
          <%= f.submit class: "btn btn-primary btn-xs" %>
          <%= f.button "取消", type: :reset, class: "btn btn-danger btn-xs" %>
        </div>
      <% end %>
    </div>
  </div>
</div>