<div class="container">
  <div class="row">
    <%= render partial: "admin/shared/navtab" %>
  </div>
  <div class="row">
    <table class="table table-hover">
      <thead class="thead-light">
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Role</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td data-link="<%= user_path(user) %>"><%= user.name %></td>
            <td data-link="<%= user_path(user) %>"><%= user.email %></td>
            <td>
              <%= form_tag admin_user_path(user), method: :patch, class: "form-inline" do %>
                <%= select_tag :role, options_for_select(User::ROLE.map(&:reverse), user.role), class: "form-control" %>
                <%= submit_tag "Update", class: "btn btn-primary" %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<script>
  $("td[data-link]").click(function() {
    window.location = $(this).data("link")
  })
</script>